<!DOCTYPE html>
<html translate="no">
  <head>
    <title>lilNotion – The all-in-one workspace for you and your team.</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="lilNotion" />
    <meta property="og:url" content="https://lilnotion.herokuapp.com/" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="A fullstack Notion clone built with React, Redux, Ruby on Rails, and PostgreSQL" />
    <meta property="og:image" content="<%= image_url('meta.png') %>" />

    <meta name="twitter:title" content="lilNotion">
    <meta name="twitter:url" content="https://lilnotion.herokuapp.com/">
    <meta name="twitter:description" content="A fullstack Notion clone built with React, Redux, Ruby on Rails, and PostgreSQL">
    <meta name="twitter:creator" content="@bdmfang">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= image_url('meta.png') %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      window.favicon = "<%= image_url('favicon.png') %>";
      window.logo = "<%= image_url('lilnotion-logo-dark.svg') %>";
      window.hero = "<%= image_url('hero-1.png') %>";
      window.hero2 = "<%= image_url('hero-2.png') %>";
      window.squareLogo = "<%= image_url('square-logo.png') %>";
      window.loomLogo = "<%= image_url('loom-logo.png') %>";
      window.pixarLogo = "<%= image_url('pixar-logo.png') %>";
      window.ibmLogo = "<%= image_url('ibm-logo.png') %>";
      window.nikeLogo = "<%= image_url('nike-logo.png') %>";
      window.spotifyLogo = "<%= image_url('spotify-logo.png') %>";
      window.slackLogo = "<%= image_url('slack-logo.png') %>";
      window.wiki = "<%= image_url('wiki.png') %>";
      window.product = "<%= image_url('product.png') %>";
      window.engineering = "<%= image_url('engineering.png') %>";
      window.hr = "<%= image_url('hr.png') %>";
      window.design = "<%= image_url('design.png') %>";
      window.sales = "<%= image_url('sales.png') %>";
      window.marketing = "<%= image_url('marketing.png') %>";
      window.text = "<%= image_url('text.png') %>";
      window.textTooltip = "<%= image_url('text-tooltip.png') %>";
      window.h1 = "<%= image_url('h1.png') %>";
      window.h1Tooltip = "<%= image_url('h1-tooltip.png') %>";
      window.h2 = "<%= image_url('h2.png') %>";
      window.h2Tooltip = "<%= image_url('h2-tooltip.png') %>";
      window.h3 = "<%= image_url('h3.png') %>";
      window.h3Tooltip = "<%= image_url('h3-tooltip.png') %>";
      window.toDo = "<%= image_url('to-do.png') %>";
      window.toDoTooltip = "<%= image_url('to-do-tooltip.png') %>";
      window.bulletedList = "<%= image_url('bulleted-list.png') %>";
      window.bulletedListTooltip = "<%= image_url('bulleted-list-tooltip.png') %>";
      window.numberedList = "<%= image_url('numbered-list.png') %>";
      window.numberedListTooltip = "<%= image_url('numbered-list-tooltip.png') %>";
      window.toggle = "<%= image_url('toggle.png') %>";
      window.toggleTooltip = "<%= image_url('toggle-tooltip.png') %>";
      window.code = "<%= image_url('code.png') %>";
      window.codeTooltip = "<%= image_url('code-tooltip.png') %>";
      window.quote = "<%= image_url('quote.png') %>";
      window.quoteTooltip = "<%= image_url('quote-tooltip.png') %>";
      window.divider = "<%= image_url('divider.png') %>";
      window.dividerTooltip = "<%= image_url('divider-tooltip.png') %>";
      window.link = "<%= image_url('link.png') %>";
      window.linkTooltip = "<%= image_url('link-tooltip.png') %>";
      window.callout = "<%= image_url('callout.png') %>";
      window.calloutTooltip = "<%= image_url('callout-tooltip.png') %>";
      window.image = "<%= image_url('image.png') %>";
      window.imageTooltip = "<%= image_url('image-tooltip.png') %>";
      window.a1 = "<%= image_url('a-1.png') %>";
      window.a2 = "<%= image_url('a-2.png') %>";
      window.a3 = "<%= image_url('a-3.png') %>";
      window.a4 = "<%= image_url('a-4.png') %>";
      window.a5 = "<%= image_url('a-5.png') %>";
      window.a6 = "<%= image_url('a-6.png') %>";
      window.a7 = "<%= image_url('a-7.png') %>";
      window.a8 = "<%= image_url('a-8.jpg') %>";
      window.a9 = "<%= image_url('a-9.jpg') %>";
      window.a10 = "<%= image_url('a-10.png') %>";
      window.a11 = "<%= image_url('a-11.png') %>";
      window.b1 = "<%= image_url('b-1.jpg') %>";
      window.b2 = "<%= image_url('b-2.jpg') %>";
      window.b3 = "<%= image_url('b-3.jpg') %>";
      window.b4 = "<%= image_url('b-4.jpg') %>";
      window.b5 = "<%= image_url('b-5.jpg') %>";
      window.b6 = "<%= image_url('b-6.jpg') %>";
      window.b7 = "<%= image_url('b-7.jpg') %>";
      window.b8 = "<%= image_url('b-8.jpg') %>";
      window.b9 = "<%= image_url('b-9.jpg') %>";
      window.b10 = "<%= image_url('b-10.jpg') %>";
      window.b11 = "<%= image_url('b-11.jpg') %>";
      window.b12 = "<%= image_url('b-12.jpg') %>";
      window.b13 = "<%= image_url('b-13.jpg') %>";
      window.b14 = "<%= image_url('b-14.jpg') %>";
      window.b15 = "<%= image_url('b-15.jpg') %>";
      window.b16 = "<%= image_url('b-16.jpg') %>";
      window.b17 = "<%= image_url('b-17.jpg') %>";
      window.b18 = "<%= image_url('b-18.jpg') %>";
      window.b19 = "<%= image_url('b-19.jpg') %>";
      window.b20 = "<%= image_url('b-20.jpg') %>";
      window.b21 = "<%= image_url('b-21.jpg') %>";
      window.b22 = "<%= image_url('b-22.jpg') %>";
      window.c1 = "<%= image_url('c-1.jpg') %>";
      window.c2 = "<%= image_url('c-2.jpg') %>";
      window.c3 = "<%= image_url('c-3.jpg') %>";
      window.c4 = "<%= image_url('c-4.jpg') %>";
      window.d1 = "<%= image_url('d-1.jpg') %>";
      window.d2 = "<%= image_url('d-2.jpg') %>";
      window.d3 = "<%= image_url('d-3.jpg') %>";
      window.d4 = "<%= image_url('d-4.jpg') %>";
      window.d5 = "<%= image_url('d-5.jpg') %>";
      window.d6 = "<%= image_url('d-6.jpg') %>";
      window.d7 = "<%= image_url('d-7.jpg') %>";
      window.d8 = "<%= image_url('d-8.jpg') %>";
      window.d9 = "<%= image_url('d-9.jpg') %>";
      window.d10 = "<%= image_url('d-10.jpg') %>";
      window.d11 = "<%= image_url('d-11.jpg') %>";
      window.e1 = "<%= image_url('e-1.jpg') %>";
      window.e2 = "<%= image_url('e-2.jpg') %>";
      window.e3 = "<%= image_url('e-3.jpg') %>";
      window.e4 = "<%= image_url('e-4.jpg') %>";
      window.e5 = "<%= image_url('e-5.jpg') %>";
      window.e6 = "<%= image_url('e-6.jpg') %>";
      window.e7 = "<%= image_url('e-7.jpg') %>";
      window.e8 = "<%= image_url('e-8.jpg') %>";
      window.e9 = "<%= image_url('e-9.jpg') %>";
      window.e10 = "<%= image_url('e-10.jpg') %>";
      window.e11 = "<%= image_url('e-11.jpg') %>";
      window.e12 = "<%= image_url('e-12.jpg') %>";
      window.e13 = "<%= image_url('e-13.jpg') %>";
      window.e14 = "<%= image_url('e-14.jpg') %>";
      window.e15 = "<%= image_url('e-15.jpg') %>";
      window.e16 = "<%= image_url('e-16.jpg') %>";
      window.e17 = "<%= image_url('e-17.jpg') %>";
      window.e18 = "<%= image_url('e-18.jpg') %>";
      window.f1 = "<%= image_url('f-1.jpg') %>";
      window.f2 = "<%= image_url('f-2.jpg') %>";
      window.f3 = "<%= image_url('f-3.jpg') %>";
      window.f4 = "<%= image_url('f-4.jpg') %>";
      window.f5 = "<%= image_url('f-5.jpg') %>";
      window.f6 = "<%= image_url('f-6.jpg') %>";
      window.f7 = "<%= image_url('f-7.jpg') %>";
      window.f8 = "<%= image_url('f-8.jpg') %>";
      window.f9 = "<%= image_url('f-9.jpg') %>";
      window.f10 = "<%= image_url('f-10.jpg') %>";
      window.f11 = "<%= image_url('f-11.jpg') %>";
      window.f12 = "<%= image_url('f-12.jpg') %>";
      window.f13 = "<%= image_url('f-13.jpg') %>";
      window.f14 = "<%= image_url('f-14.jpg') %>";
      window.f15 = "<%= image_url('f-15.jpg') %>";
      window.f16 = "<%= image_url('f-16.jpg') %>";
      window.f17 = "<%= image_url('f-17.jpg') %>";
      window.f18 = "<%= image_url('f-18.jpg') %>";
      window.f19 = "<%= image_url('f-19.jpg') %>";
      window.f20 = "<%= image_url('f-20.jpg') %>";
      window.f21 = "<%= image_url('f-21.jpg') %>";
      window.f22 = "<%= image_url('f-22.jpg') %>";
      window.f23 = "<%= image_url('f-23.jpg') %>";
      window.f24 = "<%= image_url('f-24.jpg') %>";
      window.f25 = "<%= image_url('f-25.jpg') %>";
      window.f26 = "<%= image_url('f-26.jpg') %>";
      window.f27 = "<%= image_url('f-27.jpg') %>";
      window.f28 = "<%= image_url('f-28.jpg') %>";
      window.f29 = "<%= image_url('f-29.jpg') %>";
      window.f30 = "<%= image_url('f-30.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
