<!DOCTYPE html>
<html>
  <head>
    <title>lilNotion</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('lilnotion-favicon-dark.svg') %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="lilNotion" />
    <meta property="og:url" content="https://lilnotion.herokuapp.com/" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="A fullstack Notion clone built with React, Redux, Ruby on Rails, and PostgreSQL" />
    <meta property="og:image" content="<%= asset_path('meta.png') %>" />
    <meta name="twitter:title" content="lilNotion">
    <meta name="twitter:url" content="https://lilnotion.herokuapp.com">
    <meta name="twitter:description" content="A fullstack Notion clone built with React, Redux, Ruby on Rails, and PostgreSQL">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= asset_path('meta.png') %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
